/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/

@import 'sass/reset';

/*--------------------------------------------------------------
2.0 Fuentes
--------------------------------------------------------------*/

@import 'sass/fonts';

/*--------------------------------------------------------------
3.0 variables
--------------------------------------------------------------*/

@import 'sass/variables';

/*--------------------------------------------------------------
4.0 helpers
--------------------------------------------------------------*/

@import 'sass/helpers';

/*--------------------------------------------------------------
5.0 MAIN CSS
--------------------------------------------------------------*/

.site-wrapper {
    position: relative;
    z-index: 1;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    font-family: $fuente-principal;
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    background-color: $color-amarillo;
    color: $color-blanco;
    @media (min-width: $xs) {
        width: 100%;
    }
    @media (min-width: $sm) {
        overflow-x: visible;
        font-size: 14px;
        line-height: 16px;
    }
}//.site-wrapper

/*--------------------------------------------------------------
6.0 footer
--------------------------------------------------------------*/

@import 'sass/footer';

/*--------------------------------------------------------------
7.0 header
--------------------------------------------------------------*/

@import 'sass/header';

/*--------------------------------------------------------------
8.0 main
--------------------------------------------------------------*/

.main-wrapper {
    position: relative;
    z-index: 1;
}//.main-wrapper

@import 'sass/fragancias';

.porque-section {
    background-image: url('../images/background-porque.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8rem 0 3.3rem;

    @media (min-width: $md) {
        background-image: url('../images/background-porque-desktop.jpg');
        padding: 4rem 0 2.5rem;
    }
    @media (min-width: $lg) {
        padding: 5.5rem 0 4.8rem;
    }

    .tag-porque {
        text-align: center;
        img {
            width: 80%;
            max-width: 430px;
            @media (min-width: $md) {
                max-width: 583px;
            }
        }
    }//.tag-porque
    
    .tag-prueba {
        text-align: center;
        img {
            width: 80%;
            max-width: 440px;
            @media (min-width: $md) {
                max-width: 970px;
            }
        }
        
    }//.tag-prueba

    .iconos {
        margin: 3rem auto 9rem;
        padding: 0 $paddingSize;
        display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
        justify-content: space-around;
        color: $color-rojo;
        width: 100%;
        max-width: 360px;
        @media (min-width: $sm) {
            max-width: 550px;
        }
        @media (min-width: $md) {
            margin: 2rem auto 5rem; 
        }
        @media (min-width: $lg) {
            max-width: 730px;
            justify-content: space-between;  
        }
        
        
        h3 {
            text-align: center;
            font-weight: 700;
            font-size: .8rem;
            line-height: 1rem;
            text-transform: uppercase;
            height: 60px;
            display: flex;
            display: -o-flex;
            display: -ms-flex;
            display: -moz-flex;
            display: -webkit-flex;
            align-items: center;
            justify-content: center;
            position: relative;

            @media (min-width: $sm) {
                font-size: 1.2rem;
                line-height: 1.8rem;
            }
            
        }

        .detergente-wrapper {
            text-align: center;
            @media (min-width: $lg) {
                width: 48%;
            }
            img {
                width: 70%;
                max-width: 153px;
                @media (min-width: $sm) {
                    width: 90%;
                }
                @media (min-width: $md) {
                    max-width: 254px;
                    width: 100%;
                }
            }

            h3 {
                &:after {
                    content: '+';
                    font-size: 200%;
                    position: absolute;
                    top: 50%;
                    right: -.5rem;
                    transform: translateY(-50%);
                    @media (min-width: $sm) {
                        right: -3.1rem;
                    }
                    @media (min-width: $lg) {
                        right: -1.1rem;
                    }
                }
            }
        }//.detergente-wrapper
    
        .suavizante-wrapper {
            text-align: center;
            @media (min-width: $lg) {
                width: 48%;
            }
            img {
                width: 70%;
                max-width: 170px;
                @media (min-width: $sm) {
                    width: 90%;
                }
                @media (min-width: $md) {
                    width: 100%;
                    max-width: 280px;
                }
            }
        }//.suavizante-wrapper
    }//.iconos
    
}//.porque-section

.video-section {
    position: relative;
    z-index: 1;
    height: 230px;
    @media (min-width: $xs) {
        height: 500px;
    }
    @media (min-width: $md) {
        height: 740px;
    }
    @media (min-width: $xlg) {
        height: 1100px;
    }

    .video-screenshot {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .screenshot {
            width: 130%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .video-tag {
        position: absolute;
        z-index: 11;
        left: 0;
        bottom: .9rem;
        width: 95%;
        background-color: $color-blanco;
        color: $color-rojo;
        border-top-right-radius: .5rem;
        border-bottom-right-radius: 2.5rem;
        text-transform: uppercase;
        font-weight: 700;
        font-size: .48rem;
        line-height: 1rem;
        padding: .2rem $paddingSize;
        @media (min-width: $xs) {
            font-size: .8rem;
            line-height: 1.5rem;
            width: 90%;
            bottom: 1.2rem;
        }
        @media (min-width: $md) {
            font-size: 1.2rem;
            line-height: 2rem;
            width: 80%;
            bottom: 1.2rem;
            padding: .2rem $paddingSizeMD;
        }
        @media (min-width: $lg) {
            font-size: 1.5rem;
            line-height: 2.5rem;
            width: 80%;
            bottom: 1.4rem;
            padding: .5rem $paddingSizeLG;
        }
        @media (min-width: $lg) {
            font-size: 1.5rem;
            line-height: 2.5rem;
            width: 80%;
            bottom: 1.4rem;
            padding: .5rem $paddingSizeLG;
        }
        @media (min-width: $xlg) {
            font-size: 2.0rem;
            line-height: 3.2rem;
            width: 80%;
            bottom: 2rem;
            padding: .8rem $paddingSizeXLG;
        }

        strong {
            font-size: 180%;
        }
    }

}//.video-section

.comprar-section {
    padding: 0 $paddingSize;
    .comprar-contenido {
        background-color: $color-blanco;
        border-radius: 1rem;
        border-top-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        padding: 2.68rem 2.18rem 4rem;
        margin-top: 3.4rem;

        @media (min-width: $md) {
            display: flex;
            display: -o-flex;
            display: -ms-flex;
            display: -moz-flex;
            display: -webkit-flex;
            flex-wrap: wrap;
            justify-content: space-around;
            border-radius: .4rem;
            border-top-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
        }

        h2 {
            font-weight: 700;
            color: $color-rojo;
            font-size: 1.2rem;
            line-height: 1.3rem;
            text-align: center;
            margin-bottom: 2rem;
            @media (min-width: $sm) {
                font-size: 1.75rem;
                line-height: 1.75rem;
                margin-bottom: 3rem;
            }
            @media (min-width: $md) {
                width: 100%;
                font-size: 2.5rem;
                line-height: 2.5rem;
            }
        }
        
        h3 {
            width: 100%;
            font-weight: 500;
            color: $color-rojo;
            font-size: .9rem;
            text-transform: uppercase;
            text-align: center;
            @media (min-width: $sm) {
                font-size: 1rem;
            }
            @media (min-width: $md) {
                position: absolute;
                bottom: .5rem;
                left: 0;
            }
            @media (min-width: $lg) {
                font-size: 1.3rem;
            }
        }

        .tiendas-online {
            position: relative;
            padding: 1.3rem 1.7rem .3rem;
            border: 2px solid $color-rojo;
            border-radius: 1rem;
            border-top-left-radius: 2rem;
            border-bottom-right-radius: 2rem;
            margin-bottom: 2rem;
            @media (min-width: $md) {
                width: 45%;
                margin-bottom: 0;
                border-radius: .4rem;
                border-top-left-radius: 1rem;
                border-bottom-right-radius: 1rem;
                padding: 2.4rem 1.7rem 2rem;
            }

            .tiendas {
                display: flex;
                display: -o-flex;
                display: -ms-flex;
                display: -moz-flex;
                display: -webkit-flex;
                align-items: center;
                justify-content: space-around;
                margin-bottom: .8rem;
                

                li {
                    width: 33%;

                    img {
                        display: block;
                        width: 80%;
                        margin: 0 auto;
                    }

                    img.exito {
                        max-width: 101px;
                        @media (min-width: $md) {
                            max-width: 137px;
                        }
                    }
                    img.carulla {
                        max-width: 91px;
                        @media (min-width: $md) {
                            max-width: 123px;
                        }
                    }
                    img.jumbo {
                        width: 75%;
                        max-width: 64px;
                        @media (min-width: $md) {
                            max-width: 89px;
                        }
                    }
                }
            }//.tiendas
        }//.tiendas-online

        .apps-online {
            position: relative;
            padding: 1.3rem 1.7rem .3rem;
            border: 2px solid $color-rojo;
            border-radius: 1rem;
            border-top-left-radius: 2rem;
            border-bottom-right-radius: 2rem;
            @media (min-width: $md) {
                width: 45%;
                border-radius: .4rem;
                border-top-left-radius: 1rem;
                border-bottom-right-radius: 1rem;
                padding: 2.4rem 1.7rem 2rem;
            }

            .apps {
                display: flex;
                display: -o-flex;
                display: -ms-flex;
                display: -moz-flex;
                display: -webkit-flex;
                align-items: center;
                justify-content: space-around;
                margin-bottom: 1rem;
                @media (min-width: $md) {
                    margin-bottom: 0;
                    margin-top: 0.6rem;
                }

                li {
                    width: 33%;

                    img {
                        display: block;
                        width: 80%;
                        margin: 0 auto;
                    }

                    img.merqueo {
                        max-width: 88px;
                        @media (min-width: $md) {
                            max-width: 119px;
                        }
                    }
                    img.rappi {
                        max-width: 93px;
                        @media (min-width: $md) {
                            max-width: 125px;
                        }
                    }
                    img.olimpica {
                        width: 75%;
                        max-width: 75px;
                        @media (min-width: $md) {
                            max-width: 100px;
                        }
                    }
                }

            }//.apps
        }//apps-online
    }//.comprar-contenido
}//.comprar-section