/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/

@import 'sass/reset';

/*--------------------------------------------------------------
2.0 Fuentes
--------------------------------------------------------------*/

@import 'sass/fonts';

/*--------------------------------------------------------------
3.0 variables
--------------------------------------------------------------*/

@import 'sass/variables';

/*--------------------------------------------------------------
4.0 helpers
--------------------------------------------------------------*/

@import 'sass/helpers';

/*--------------------------------------------------------------
5.0 MAIN CSS
--------------------------------------------------------------*/

.site-wrapper {
    position: relative;
    z-index: 1;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    font-family: $fuente-principal;
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    background-color: $color-amarillo;
    color: $color-blanco;
    @media (min-width: $xs) {
        width: 100%;
    }
    @media (min-width: $sm) {
        overflow-x: visible;
        font-size: 14px;
        line-height: 16px;
    }
}//.site-wrapper

/*--------------------------------------------------------------
6.0 footer
--------------------------------------------------------------*/

@import 'sass/footer';

/*--------------------------------------------------------------
7.0 header
--------------------------------------------------------------*/

@import 'sass/header';

/*--------------------------------------------------------------
8.0 main
--------------------------------------------------------------*/

.main-wrapper {
    position: relative;
    z-index: 1;
}//.main-wrapper