.fragancias-section {
    position: relative;
    z-index: 11;
    left: 0;
    top: 0;
    
}//.fragancias-section

.sugerido {
    display: none;
    @media (min-width: $md) {
        display: block;
        position: absolute;
        z-index: 11;
        right: 1rem;
        top: 3rem;
        transform: rotate(-90deg);
        transform-origin: center right;
        text-transform: uppercase;
        font-weight: 500;
        font-size: .65rem;
    }
}//.sugerido

.fragancias {
    position: relative;
    z-index: 1;
    width: 100%;
    height: calc(100vh - 5.75rem);
    overflow: hidden;
    left: 0;
    background-image: url('../images/background-packs.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
        background-image: url('../images/background-packs@2x.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    @media only screen and (-webkit-min-device-pixel-ratio: 2.25), only screen and (min--moz-device-pixel-ratio: 2.25), only screen and (min-resolution: 2.25dppx) {
        background-image: url('../images/background-packs@3x.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    @media (min-width: $sm) {
        height: calc(100vh - 5.75rem);
    }
    @media (orientation:landscape) and (max-width: 820px) {
        height: 750px;
    }
    @media (min-width: $md) {
        background-image: url('../images/background-packs-desktop.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 627px;
    }
    
    
    @media (min-width: $md) {
        
    }
}//.fragancias

.fragancia {
    position: absolute;
    z-index: 1;
    transition: opacity $transitionSpeed;
    bottom: -1000px;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}//.fragancia-item

.fragancia.active {
    transition: opacity $transitionSpeed;
    bottom: 0;
    opacity: 1;

}//.fragancia-item.active

.fragancia-wrapper {
    padding: 0 .2rem;
    position: relative;
    z-index: 1;
    height: 100%;

    .tag {
        position: absolute;
        left: 50%;
        top: 2rem;
        transform: translateX(-50%);
        width: 90%;
        margin: 0 auto;
        background-color: rgba(255,255,255,0.7);
        color: $color-rojo;
        font-weight: 700;
        font-size: .9rem;
        text-align: center;
        border-radius: .5rem;
        border-top-left-radius: 1rem;
        padding: 1rem 1rem;
        z-index: 111;
        transition: all $transitionSpeed;
        @media (min-width: $xs) {
            top: 4rem;
            width: 80%;
        }
        @media (min-width: $md) {
            top: 50%;
            left: 20%;
            transform: translate(-50%, -50%);
            width: 370px;
        }
        @media (min-width: $lg) {
            left: 32%;
        }
        @media (min-width: $xlg) {
            left: 38%;
        }

        strong {
            text-transform: uppercase;
            font-size: 2.2rem;
            line-height: 2.4rem;
            @media (min-width: $xs) {
                font-size: 3.7rem;
                line-height: 4rem;
            }
            @media (min-width: $md) {
                font-size: 3rem;
                line-height: 3rem;
            }
        }
    }//.tag

    .pack {
        display: block;
        max-width: 574px;
        width: 100%;
        position: absolute;
        z-index: 11;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @media (min-width: $xs) {
            top: 55%;
        }
        @media (min-width: $md) {
            max-width: 1039px;
            left: 55%;
            top: 48%;
        }
        @media (min-width: $lg) {
            left: 59%;
        } 
    }//.pack

    .btn-cta-comprar {
        @extend .btn;
        @extend .btn-hover-opacity;
        position: absolute;
        z-index: 1111111;
        left: 50%;
        transform: translateX(-50%);
        bottom: 4rem;
        background-color: $color-rojo;
        color: $color-blanco;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 2rem;
        padding: 0.7rem 2rem;
        text-align: center;
        border-radius: .3rem;
        border-top-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        text-transform: uppercase;
        @media (min-width: $xs) {
            bottom: 1.8rem;
        }
        @media (min-width: $md) {
            left: 83%;
            bottom: 7rem;
        }
        @media (min-width: $xlg) {
            left: 76%;
        }

    }//.btn-cta-comprar

    .flores {
        position: absolute;
        bottom: 40px;
        width: 160%;
        left: -15%;
        z-index: 111;
        @media (min-width: $md) {
            z-index: 1;
            bottom: -520px;
            width: 120%;
            left: -5%;
        }
        @media (min-width: $xlg) {
            width: 80%;
            left: 10%;
        }
    }//.flores

    .bubles {
        position: absolute;
        z-index: 11111;
        bottom: 0px;
        width: 100%;
        left: -10%;
        @media (min-width: $md) {
            left: 0;
            bottom: 0px;
            width: 100%;
        }
        
        
    }//.bubles

}//.fragancia

.fragancia-wrapper.brisa-fresca {

    .pack {
        @media (min-width: $md) {
            left: 60%;
            top: 55%;
        }
    }
    

    .tag {
        color: $color-azul;
    }
    .btn-cta-comprar {
        background-color: $color-azul;
    }

    .flores {
        bottom: -170px;
        @media (min-width: $sm) {
            bottom: -320px;
        }
        @media (min-width: $md) {
            bottom: -420px;
        }
        @media (min-width: $xlg) {
            bottom: -300px;
        }
    }//.flores

    .bubles {
        bottom: -290px;
        @media (min-width: $sm) {
            bottom: -730px;
        }
        @media (min-width: $md) {
            bottom: -800px;
        }
    }
}//.fragancia.brisa-fresca
.fragancia-wrapper.campos-lavanda {

    .pack {
        @media (min-width: $md) {
            top: 50%;
            left: 60%;
        }
    }

    .tag {
        color: $color-purpura;
    }
    .btn-cta-comprar {
        background-color: $color-purpura;
    }

    .flores {
        bottom: -260px;
        @media (min-width: $sm) {
            bottom: -440px;
        }
        @media (min-width: $md) {
            bottom: -490px;
        }
        @media (min-width: $xlg) {
            bottom: -440px;
        }
    }

    .bubles {
        bottom: -450px;
        @media (min-width: $sm) {
            bottom: -1280px;
        }
        @media (min-width: $md) {
            bottom: -1230px;
        }
    }
}//.fragancia.campos-lavanda