.main-header {
    position: relative;
    z-index: 111;
    padding-top: 5.75rem;
    @media (min-width: $md) {
        padding-top: 3.68rem;
    } 
}//.main-header

.main-nav {
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    width: 100%;
    height: 5.75rem;
    background-color: $color-blanco;
    padding: 0 $paddingSize;
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: $md) {
        height: 3.68rem;
        padding: 0 $paddingSizeMD;
    }
    @media (min-width: $lg) {
        padding: 0 $paddingSizeLG;
    }

    .brand-name {
        img {
            width: 95px;
        }
    }//.brand-name

    .toggle {
        position: relative;
        display: block;
        width: 50px;
        height: 50px;
        @extend .btn;
        @extend .btn-hover-opacity;
        @media (min-width: $md) {
            display: none;
        }
        .tog1 {
            opacity: 1;
            display: block;
            position: absolute;
            top: 30%;
            left: 50%;
            width: 90%;
            height: 2px;
            background-color: $color-rojo;
            transform: translateX(-50%);
            transform-origin: top left;
            transition: all $transitionSpeed;
        }
        .tog2 {
            opacity: 1;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 90%;
            height: 2px;
            background-color: $color-rojo;
            transform: translateX(-50%);
            transition: all $transitionSpeed;
        }
        .tog3 {
            opacity: 1;
            display: block;
            position: absolute;
            top: 70%;
            left: 50%;
            width: 90%;
            height: 2px;
            background-color: $color-rojo;
            transform: translateX(-50%);
            transform-origin: top left;
            transition: all $transitionSpeed;
        }
    }//.toggle

    .toggle.open {
        .tog2 {
            opacity: 0;
        }
        .tog1 {
            top: 15%;
            left: 66%;
            transform: translateX(-50%) rotate(45deg);
            transition: all $transitionSpeed;
        }

        .tog3 {
            top: 80%;
            left: 62%;
            transform: translateX(-50%) rotate(-45deg);
            transition: all $transitionSpeed;
        }
    }//.toggle.open


    .main-menu {
        color: $color-blanco;
        font-weight: 500;
        font-size: 1.25rem;
        position: absolute;
        top: 5.75rem;
        left: 0;
        width: 100%;
        height: 0;
        background-color: $color-rojo;
        overflow: hidden;
        transition: all $transitionSpeed;
        opacity: 0;
        @media (min-width: $md) {
            opacity: 1;
            overflow: visible;
            height: auto!important;
            color: $color-rojo;
            background-color: transparent;
            position: relative;
            top: 0;
            left: 0;
            width: auto;
            display: flex;
            display: -o-flex;
            display: -ms-flex;
            display: -moz-flex;
            display: -webkit-flex;
        }

        li {
            margin: 2rem;

            &:first-child {
                margin-top: 4rem;
                @media (min-width: $md) {
                    margin: 0;
                }
            }

            &:last-child {
                margin-bottom: 4rem;
                @media (min-width: $md) {
                    margin: 0;
                    a {
                        padding-right: 0;
                        &:after {
                            content: none;
                        }
                    }
                }
            }


            a {
                width: 100%;
                display: block;
                text-align: center;
                position: relative;
                @extend .btn;
                @extend .btn-hover-opacity;
            }

            @media (min-width: $md) {
                margin-right: 2rem;

                a {
                    text-align: left;
                    padding: 0 1rem;

                    &:after {
                        content: '';
                        position: absolute;
                        height: 100%;
                        width: 1px;
                        background-color: $color-rojo;
                        right: 0;
                        bottom: 0;
                    }
                }
            }//mediaquerie md

        }//li
    }//.main-menu 


    .main-menu.open {
        transition: all $transitionSpeed;
        display: block;
        opacity: 1;
    }

}//.main-nav


.contenido-header {
    position: relative;
    z-index: 1;
    padding: 1rem 0 3rem;
    background: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media (min-width: $xs) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: $xs) and (min--moz-device-pixel-ratio: 1.5), (min-width: $xs) and (min-resolution: 240dpi) {
        background: url('../images/background@2x.jpg');
        background-size: cover;
        background-position: center;
    }
    @media only screen and (-webkit-min-device-pixel-ratio: 2.25), only screen and (min--moz-device-pixel-ratio: 2.25), only screen and (min-resolution: 2.25dppx) {
        background: url('../images/background@3x.jpg');
        background-size: cover;
        background-position: center;
    }

    @media (min-width: $md) {
        background: url('../images/background-desktop.jpg');
        background-size: cover;
        background-position: 50% center;
        background-repeat: no-repeat;
        padding: 1rem 0;
    }
    @media (min-width: $lg) {
        background-position: 0 center;
    }


    .header-tag {
        h4 {
            padding: .2rem .2rem .2rem $paddingSize;
            background-color: $color-blanco;
            color: $color-rojo;
            font-weight: 700;
            font-size: 1.15rem;
            line-height: 1.8rem;
            text-transform: uppercase;
            width: 40%;
            border-top-right-radius: .2rem;
            border-bottom-right-radius: 2rem;
            @media (min-width: $md) {
                width: 190px;
                font-size: 1.95rem;
                line-height: 2.4rem;
            }
        }

        p {
            padding: .8rem .2rem .8rem $paddingSize;
            background-color: $color-rojo;
            color: $color-blanco;
            font-weight: 700;
            font-size: 1rem;
            line-height: 1.2rem;
            width: 70%;
            border-top-right-radius: .2rem;
            border-bottom-right-radius: 2rem;
            text-transform: uppercase;
            @media (min-width: $md) {
                font-size: 1.7rem;
                line-height: 1.9rem;
                width: 390px;
            }
        }
    }//.header-tag

    .rindex-header {
        text-align: center;
        margin-top: 3rem;
        @media (min-width: $sm) {
            margin-top: 13rem;
        }
        @media (min-width: $md) {
            margin: 0;
            position: absolute;
            top: 160px;
            left: 40px;
        }
        @media (min-width: $lg) {
            top: 180px;
            left: 15%;
        }

        img {
            width: 323px;
            max-width: 361px;
            @media (min-width: $sm) {
                width: 361px;
            }
        }
    }

    .packs-header {
        display: block;
        width: 100%;
        padding: 0 $paddingSize;
        margin-top: 2.5rem;
        @media (min-width: $md) {
            width: 60%;
            position: relative;
            left: 40%;
            margin-top: -3.75rem;
        }

        img {
            width: 100%;
            @media (min-width: $md) {
                max-width: 738px;
            }
        }
    }

    .scroll-down-btn {
        padding: 0 $paddingSize;
        @extend .btn;
        @extend .btn-hover-opacity;
        text-align: center;
        @media (min-width: $md) {
            display: block;
            margin: 0 auto;
        }

        img {
            width: 100%;
            max-width: 434px;
        }
    }

}//.contenido-header