sup {
    font-size: 70%;
    position: relative;
    top: -.4rem;
}

sub {
    font-size: 30%;
    position: relative;
}

small {
    font-size: 80%;
}

.text-lowercase {
    text-transform: lowercase;
}

.btn {
    cursor: pointer;
    transition: all $transitionSpeed;
}

.btn-hover-opacity {
    &:hover {
        transition: all $transitionSpeed;
        opacity: .7;
    }
}